.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 1000ms, visibility 1000ms;
  overflow-y: scroll;
  z-index: 10;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
