:root {
  --primary-color: #2196f3;
  --secondary-text-color: #212121;
  --accent-text-color: #ffffff;
  --primary-text-color: #757575;
  --footer-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --footer-link-hover-color: #ffffff;
  --team-info-bg: #ffffff;
  --border-color: #eeeeee;
  --clients-border-color: #afb1b8;
  --mob-bg-color: #ffffff;
}
